@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xs7iyp");
  src: url("../fonts/icomoon.eot?xs7iyp#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xs7iyp") format("truetype"), url("../fonts/icomoon.woff?xs7iyp") format("woff"), url("../fonts/icomoon.svg?xs7iyp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #1b75bc;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--mail:before {
  content: "\e904";
}

.icon--phone:before {
  content: "\e905";
}

.icon--location:before {
  content: "\e903";
}

.icon--call:before {
  content: "\e900";
}

.icon--globe:before {
  content: "\e901";
}

.icon--satellite:before {
  content: "\e902";
}

.icon--satellite2:before {
  content: "\e906";
}

audio:not([controls]) {
  display: none;
}

button {
  -webkit-appearance: button;
  overflow: visible;
}

details {
  display: block;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-border-radius: 0;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

:root {
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  cursor: default;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  display: inherit;
  position: absolute;
  clip: rect(0 0 0 0);
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

html, body {
  position: relative;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100%;
  color: #5e6062;
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif;
  font-weight: 400;
  line-height: calc(30/16);
  text-align: left;
}

a {
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: all .3s;
  opacity: 1;
}

a:hover {
  opacity: 0.7;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-p {
  margin: 20;
  padding-left: 50px;
}

.list-i {
  margin: 20;
  padding-left: 10px;
  list-style-type: disc;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.l-main {
  margin-bottom: 107px;
  background-color: #ffffff;
  background-image: url(../img/common/bg-main.png);
  background-repeat: repeat-x;
  background-size: 10px 100px;
  background-position: left top;
}

.l-contents {
  width: 100%;
}

.js-fade {
  opacity: 0;
  position: relative;
  bottom: -20px;
}

.js-fade.is-fadeOn {
  opacity: 1;
  transition: opacity .8s,bottom .6s;
  bottom: 0;
}

.js-fade.is-fadeOn.js-fade__delay1 {
  transition-delay: .2s;
}

.js-fade.is-fadeOn.js-fade__delay2 {
  transition-delay: .4s;
}

.js-fadeLeft {
  opacity: 0;
  position: relative;
  left: -20px;
}

.js-fadeLeft.is-fadeOn {
  opacity: 1;
  transition: opacity .8s,left .6s;
  left: 0;
}

.js-fadeLeft.is-fadeOn.js-fade__delay1 {
  transition-delay: .2s;
}

.js-fadeLeft.is-fadeOn.js-fade__delay2 {
  transition-delay: .4s;
}

.js-fadeRight {
  opacity: 0;
  position: relative;
  right: -20px;
}

.js-fadeRight.is-fadeOn {
  opacity: 1;
  transition: opacity .8s,right .6s;
  right: 0;
}

.js-fadeRight.is-fadeOn.js-fade__delay1 {
  transition-delay: .2s;
}

.js-fadeRight.is-fadeOn.js-fade__delay2 {
  transition-delay: .4s;
}

.c-btn {
  display: inline-block;
  width: 360px;
  max-width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #ff8d00;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  font-size: 2rem;
}

.c-btnArea {
  padding-top: 50px;
  text-align: center;
}

.c-btnArea--multiple {
  padding-top: 6px;
}

.c-btnArea--multiple .c-btn {
  display: block;
  margin: 23px auto;
}

.c-btnArea2 {
  text-align: center;
  padding-bottom: 30px;
}

.c-title {
  margin-bottom: 60px;
  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

.c-title__main, .c-title__sub {
  display: block;
  margin: 0 auto;
}

.c-title__main {
  color: #ff8d00;
  font-size: 2.4rem;
  font-weight: bold;
}

.c-title__sub {
  margin-top: 12px;
  color: #898989;
  font-size: 1.6rem;
  font-weight: normal;
}

.c-title--page {
  margin-bottom: 32.5px;
  padding-top: 75px;
}

.c-title--page .c-title__main {
  font-size: 2.8rem;
}

.c-title--page .c-title__sub {
  margin-top: 15px;
}

.c-title--narrow {
  margin-bottom: 50px;
}

.c-title--narrow .c-title__sub {
  margin-top: 8px;
}

.c-title--small {
  margin-bottom: 25px;
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif;
}

.c-title--small .c-title__main {
  font-size: 1.8rem;
}

.c-title--small .c-title__sub {
  margin-top: 10px;
  font-size: 1.4rem;
}

.c-title--normal .c-title__main {
  font-weight: normal;
}

.c-title1 {
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.c-wrap {
  max-width: 810px;
  margin: 0 auto;
  padding: 0 15px;
}

.c-wrap--small {
  max-width: 725px;
}

.c-wrap--middle {
  max-width: 800px;
}

.c-wrap--large {
  max-width: 830px;
}

.c-wrap--xlarge {
  max-width: 855px;
}

.c-sect {
  padding: 65px 0;
  font-size: 1.4rem;
}

.c-sect--noPageTitle {
  background-image: url(../img/common/bg-sect-noPageTitle.png);
  background-repeat: repeat-x;
  background-position: left top;
  background-size: 10px 200px;
  padding-top: 105px;
}

.c-sect--narrow {
  padding: 32.5px 0;
}

.c-sect--xnarrow {
  padding: 17.5px 0;
}

.c-sect1 {
  padding: 30px 0;
  font-size: 1.4rem;
}

.c-list__item {
  position: relative;
  padding-left: 22px;
}

.c-list__item::before {
  position: absolute;
  left: 0;
  top: 9px;
  width: 13px;
  height: 13px;
  content: "";
  border-radius: 50%;
  background-color: #ff8d00;
}

.c-list {
  padding-left: 20px;
}

.c-list li {
  list-style-type: disc;
}

.newsurl > a {
  color: #5e6062;
}

.newsurl > a:hover {
  color: #ff8d00;
  opacity: 1;
}

.c-orderList {
  padding-left: 1.4em;
  font-size: 1.6rem;
}

.c-orderList, .c-orderList__item {
  list-style-type: decimal;
}

.c-orderList__item {
  padding-left: .7em;
  margin-bottom: 3px;
}

.c-orderList__item ul li {
  position: relative;
}

.c-orderList__item ul li::before {
  content: "・";
}

.c-orderList--privacy {
  margin-bottom: 90px;
}

.c-orderList--privacy .c-orderList__item {
  padding-left: .2em;
}

.c-defineList {
  font-size: 1.6rem;
}

.c-defineList__item {
  margin-bottom: 10px;
}

.c-defineList__title {
  position: relative;
  padding-left: 22px;
  font-weight: bold;
}

.c-defineList__title::before {
  position: absolute;
  left: 0;
  top: 9px;
  width: 13px;
  height: 13px;
  content: "";
  border-radius: 50%;
  background-color: #ff8d00;
}

.c-defineList__cont {
  padding-left: 22px;
}

.c-defineList__listItem {
  padding-left: 1em;
  position: relative;
}

.c-defineList__listItem::before {
  position: absolute;
  left: 0;
  content: "・";
}

.c-defineList--news {
  margin-bottom: 25px;
}

.c-defineList--news .c-defineList__title {
  color: #ff8d00;
}

.c-defineList--inline {
  margin-bottom: 10px;
}

.c-defineList--inline::last-of-type {
  margin-bottom: 0;
}

.c-defineList--inline .c-defineList__category {
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 12px;
}

.c-defineList--inline .c-defineList__item {
  margin-bottom: 2px;
  padding-left: 40px;
  position: relative;
}

.c-defineList--inline .c-defineList__item::before {
  position: absolute;
  left: 15px;
  top: 9px;
  width: 13px;
  height: 13px;
  content: "";
  border-radius: 50%;
  background-color: #ff8d00;
}

.c-defineList--inline .c-defineList__title::before {
  display: none;
}

.c-defineList--inline .c-defineList__title, .c-defineList--inline .c-defineList__cont {
  display: inline;
  padding-left: 0;
}

.c-img__in {
  padding: 7px;
  background-color: #eee;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.3);
}

.c-img img {
  width: 100%;
  height: auto;
}

.c-img--icon {
  width: 110px;
}

.c-img--icon .icon {
  font-size: 10.5rem;
}

.c-img--icon .icon.icon--large {
  font-size: 20.5rem;
}

.c-img--small {
  width: 180px;
}

.c-img--large {
  max-width: 606px;
}

.c-img--xlarge {
  max-width: 656px;
  margin: 0 auto 65px auto;
}

.c-img--full {
  width: 100%;
}

.c-img--center {
  margin: 0 auto;
}

.c-img--2col {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.c-img--2col > img {
  width: 50%;
  height: auto;
}

.c-img--double {
  margin-bottom: 40px;
}

.c-img--shadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

/* table02 ----------------------------------------------------------------- */

.table02 {
    margin: 10px auto;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.table02 th {
    padding: 8px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #f0f0f0;
    font-weight: normal;
}
.table02 td {
    padding: 8px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.c-category {
    margin: 0px auto;
    width:  650px;
}

.c-cat-menu {
    margin: auto;
    width: 100px;
    background-color: #9ca1c2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;`
}

.c-cat-menu:hover{
  opacity:0.6
}

.c-wrap1 {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

#image-box {
  text-align: center;
}

.image-item1 {
  display: inline-block;
  width: 600px;
  height: 600px;
  padding: 0em 0em 0em 0em;
  margin: 1em 0.5em 0.5em 0.5em;
  color: #000000;
  border-top: solid 1px #bdbdbd;
}

.image-item2 {
  display: inline-block;
  width: 288px;
  height: 216px;
  padding: 0em 0em 0em 0em;
  margin: 1em 0.5em 0.5em 0.5em;
  color: #000000;
  border-top: solid 1px #bdbdbd;
}

@media (max-width: 420px) {
  .c-img--2col {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .c-img--2col > img {
    width: 100%;
    margin-bottom: 1px;
  }
  .c-category {
    margin: 0px auto;
    width:  320px;
  }
  .c-cat-menu {
    margin-left: 2px;
    margin-bottom: 5px;
  }
}

.c-contentBox--2col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.c-contentBox--2col .c-text {
  width: 542px;
}

.c-contentBox--2col .c-text.c-text--large {
  width: 570px;
}

.c-contentBox--vMiddle {
  -ms-flex-align: center;
      align-items: center;
}

.c-text {
  font-size: 1.6rem;
}

.c-text__headline {
  margin-bottom: .9em;
  font-weight: bold;
}

.c-text__headline--narrow {
  margin-bottom: .2em;
}

.c-text__headline--product {
  font-size: 1.8rem;
  margin-bottom: .2em;
}

.c-text__headline--center {
  text-align: center;
}

.c-text__item {
  margin-bottom: 2em;
}

.c-text__item--narrow {
  margin-bottom: 1.6rem;
}

.c-text__item--center {
  text-align: center;
  margin-bottom: 0;
}

.c-text__item--sign {
  padding-top: 10px;
}

.c-text__item--noMargin {
  margin-bottom: 0;
}

.c-table {
  width: 100%;
  margin: 0 auto;
  border-top: solid 2px #ff8d00;
  line-height: calc(24/16);
  font-size: 1.6rem;
}

.c-table th, .c-table td {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: solid 1px #d2d2d2;
  text-align: left;
}

.c-table th {
  width: 240px;
  padding-left: 70px;
  padding-right: 10px;
  font-weight: normal;
}

.c-table td {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 767px) {
  .c-table th {
    width: 30%;
    padding-left: 10px;
  }
}

.c-email img {
  display: inline-block;
  width: 13.5px;
  height: 13.5px;
  vertical-align: text-bottom;
}

.p-header {
  text-align: center;
  border-bottom: solid 3px #ffffff;
}

.p-header__in {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

.p-header__upper {
  background-color: #ff8d00;
  color: #ffffff;
  text-align: left;
}

.p-header__lower {
  background-color: #6a6b6d;
  color: #ffffff;
  text-align: left;
}

.p-header__lowerIn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.p-header__logo {
  width: 170px;
  height: auto;
  margin: 7px 0 13px 0;
  line-height: 1;
}

.p-header__logo img {
  width: 100%;
  height: 100%;
}

.p-footer {
  background-color: #000000;
  text-align: center;
}

.p-footer__toTop {
  display: block;
  padding: 30px 0;
  background-color: #1b1b1b;
  color: #939393;
  border-top: solid 3px #ff8d00;
  border-bottom: solid 1px #313131;
  font-size: 1.2rem;
}

.p-footer__toTop:hover {
  background-color: #434343;
  color: #939393;
}

.p-footer__in {
  max-width: 1070px;
  margin: 0 auto;
  padding: 30px 15px 16px 15px;
  color: #ffffff;
}

.p-footer__in a {
  color: #ffffff;
}

.p-footer__nav {
  padding-bottom: 35px;
}

.p-footer__bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
}

.p-footer__logo, .p-footer__copyright {
  display: inline-block;
}

.p-footer__logo {
  width: 170px;
  height: 55px;
  line-height: 1;
}

.p-footer__logo img {
  width: 100%;
  height: 100%;
}

.p-footer__logo a {
  display: block;
}

.p-footer__copyright {
  text-align: left;
  font-size: 1rem;
  line-height: 1.2;
}

.p-kv {
  position: relative;
  background: #6a6b6d;
  border-bottom: solid 3px #ffffff;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.3);
}

.p-kv .swiper-pagination-bullet {
  border-radius: 0;
  background-color: #ffffff;
  opacity: 1;
}

.p-kv .swiper-pagination-bullet-active {
  background-color: #ff8d00;
}

.p-kv .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.p-kv .swiper-container-horizontal > .swiper-pagination-bullets, .p-kv .swiper-pagination-custom, .p-kv .swiper-pagination-fraction {
  bottom: 23px;
}

.p-lang {
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0;
  -ms-flex-align: center;
      align-items: center;
}

.p-lang__icon, .p-lang__text {
  display: inline-block;
}

.p-lang__icon {
  line-height: 1;
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

.p-lang__icon img {
  width: 100%;
  height: 100%;
}

.p-lang__text {
  font-size: 1rem;
  letter-spacing: .05em;
  color: #ffffff;
}

.p-lang__text:hover {
  color: #ffffff;
}

.p-gnav {
  margin-top: 2px;
}

.p-gnav__item {
  display: inline-block;
  margin: 0 12.5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.p-gnav__item > a {
  display: block;
  position: relative;
  color: #ffffff;
}

.p-gnav__item > a::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 0;
  height: 1px;
  background-color: #ff8d00;
  transition: all .3s;
}

.p-gnav__item > a:hover, .p-gnav__item > a.is-active {
  opacity: 1;
  color: #ffffff;
}

.p-gnav__item > a:hover::after, .p-gnav__item > a.is-active::after {
  width: 100%;
  opacity: 1;
}

.p-ftnav__item {
  display: inline-block;
  margin: 0 .5em;
  font-size: 1.2rem;
}

.p-ftnav__item::after {
  content: "｜";
  margin-left: .7em;
}

.p-ftnav__item:last-of-type::after {
  content: "";
}

.p-ftnav__item > a {
  color: #ffffff;
}

.p-ftnav__item > a:hover {
  color: #ff8d00;
  opacity: 1;
}

.p-lnav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 57px;
  margin-top: -3px;
  background-color: #404142;
  border-bottom: solid 3px #ffffff;
}

.p-lnav__item {
  display: inline-block;
  margin: 0 13px;
  font-size: 1.4rem;
  font-weight: bold;
}

.p-lnav__item a {
  display: block;
  color: #ffffff;
  position: relative;
}

.p-lnav__item a::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #ff8d00;
  content: "";
  transition: all .3s;
}

.p-lnav__item a:hover {
  color: #ffffff;
  opacity: 1;
}

.p-lnav__item a:hover::after {
  width: 100%;
}

.p-lnav__item a.is-active::after {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .p-lnav {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .p-lnav__item {
    width: 40%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .p-lnav__item a {
    margin: 10px;
  }
  .p-lnav__item a::before {
    content: " > ";
  }
}

.p-coverageLink {
  padding-left: 15px;
}

.p-coverageLink__text {
  font-size: 1.2rem;
  margin-bottom: .4em;
}

.p-coverageLink__link {
  display: block;
  position: relative;
  width: 240px;
  height: 120px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.p-coverageLink__link > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: auto;
}

.p-coverageLink--wide {
  padding-bottom: 60px;
}

.p-productImg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.p-productImg__in {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.p-productImg__left {
  width: 60%;
  padding: 0 25% 0 8%;
}

.p-productImg__left > img {
  height: auto;
}

.p-productImg__right {
  width: 40%;
}

.p-productImg__right img {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.p-productImg--2col {
  padding: 20px 0;
}

.p-productImg--2col .p-productImg__item {
  width: 100%;
  padding: 17px 0;
}

.p-productImg--2col .p-productImg__item img {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.p-productImg--2col .p-productImg__itemCaption {
  font-size: 1.2rem;
  margin-bottom: .3em;
}

.p-productImg--2col .p-productImg__itemCont > a {
  display: block;
}

.p-productImg--2col .p-productImg__in {
  max-width: 596px;
}

.p-productImg--3col {
  padding-top: 35px;
}

.p-productImg--3col .p-productImg__in {
  width: 100%;
  padding: 0 7%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}

.p-productImg--3col .p-productImg__item {
  width: calc(80%/3);
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.p-productImg--3col .p-productImg__itemImg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 100%;
  height: 200px;
  padding-bottom: 20px;
}

.p-productImg--3col .p-productImg__itemImg img {
  max-height: 100%;
}

.p-productImg--3col .p-productImg__itemTitle, .p-productImg--3col .p-productImg__itemDetail {
  display: block;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
}

.p-productImg--3col .p-productImg__itemTitle {
  margin-bottom: .3em;
  font-size: 1.6rem;
  font-weight: bold;
}

.p-productImg--3col .p-productImg__itemDetail {
  font-size: 1.4rem;
  line-height: calc(24/14);
}

.p-productImg--top {
  padding: 20px 0 0 0;
  margin-bottom: -30px;
}

.p-productImg--bottom {
  padding: 25px 0 0 0;
}

.p-contact {
  padding-top: 43px;
}

.p-contact__lead {
  margin-bottom: 1em;
  font-size: 1.4rem;
}

.p-contact__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  //padding: 0 5%;
  padding: 2% 5% 0;
  border: solid 1px #d2d2d2;
}

.p-contact__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 34px 0;
}

.p-contact__icon .icon {
  font-size: 4rem;
  color: #ff8d00;
  margin-right: 12px;
}

.p-contact__tel {
  font-size: 2.4rem;
  color: #ff8d00;
  font-weight: bold;
  line-height: 1.2;
}

.p-contact__telSub {
  font-size: 1.2rem;
  color: #5e6062;
}

.p-contact__tel a {
  text-decoration: none;
}

.p-contact__email {
  line-height: 1;
}

.p-contact__email img {
  width: 100%;
  max-width: 315.5px;
  height: auto;
}

.cat__item > a {
  color: #5e6062;
}

.cat__item > a:hover {
  color: #ff8d00;
  opacity: 1;
}

@media (min-width: 641px) and (max-width: 1023px) {
  .p-contact__box {
    padding: 0 3%;
  }
}

@media (max-width: 640px) {
  .p-contact {
    padding-top: 0;
  }
  .p-contact__item {
    padding: 10px 0;
  }
  .p-contact__tel {
    font-size: 1.6rem;
  }
  .p-contact__telSub {
    font-size: 1rem;
  }
  .p-contact__email img {
    height: 16px;
    width: auto;
  }
  .c-category {
    margin: 0px auto;
    width:  400px;
    text-align: center;
  }
  .c-cat-menu {
    margin-left: 2px;
    margin-bottom: 5px;
  }
  .image-item1 {
    width: auto;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .u-spOnly {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .u-pcOnly {
    display: none;
  }
}

.floating-banner {
  position: fixed;/* 追従 */
  z-index: 99999;/* 他の要素の下に隠れないように */
  bottom: 0px;/* バナーの上下の位置 */
  right: 0;/* バナーの左右の位置 */
}
.pc {
  width: 150px;/* バナーの横幅を指定 */
}
.sp {
  display: none;/* PCではスマホ用のバナーは非表示に */
}
@media screen and (max-width: 990px) {/* タブレット用のブレイクポイントを指定 */
  .pc {
      display: none;/* タブレットサイズ以下でPC用のバナーを非表示に */
  }
}
@media screen and (max-width: 560px) {/* スマホ用のブレイクポイントを指定 */
  .sp {
      display: inline-block;/* 消していたスマホ用のバナーを表示させる */
      width: 100vw;/* スマホの画面幅いっぱいにバナーを表示 */
  }
}
